/* add css module styles here (optional) */

.test {
  margin: 2em;
  padding: 0.5em;
  border: 2px solid #000;
  font-size: 2em;
  text-align: center;
}

.odap_selectionOutline {
  outline: 4px solid rgb(116, 182, 116);
}